@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --white-color: white;
    --special-color: #FF9900;
    --text-color: #333;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
input {
    outline: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.section__heading {
    margin-left: 2px;
    color: var(--text-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main {
    padding: 0 75px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: var(--text-color);
}

.slash {
    color: #CACACA;
}

.hd {
    display: none;
}

/* header */

.header {
    display: flex;
    width: 100%;
    box-shadow: 0px 5px 40px 0px #0000001A;
}

.header-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 14px 75px;
    max-width: 1920px;
    margin: 0 auto;
}

.header-logo {
    margin-top: auto;
    margin-bottom: auto;
    height: 72px;
    width: 224px;
}

.header-logo__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: auto;
}

.header__item {
    font-weight: 600;
    margin-right: 85px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    line-height: 22px;
    transition: 0.3s color ease;
    white-space: nowrap;
}

.header__item:last-child {
    margin-right: 87px;
}

.header__item:hover {
    border-bottom: 1px solid var(--special-color);
}

.header__item:focus {
    outline: 1px solid var(--special-color);
}

.header__item:active {
    color: #E1670E;
    border-bottom: 1px solid #E1670E;
}

.header-search {
    position: absolute;
    right: 0;
    top: 20px;
    display: flex;
    background-color: var(--white-color);
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    padding: 18px 13px;
}

.header-search.swiched {
    display: none;
}

.header-search__input {
    margin-right: 14px;
}

.header-search__input {
    border: none;
    border-bottom: 1px solid #DCDCDC;
    font-size: 18px;
    line-height: 22px;
    width: 412px;
}

.header__search {
    /* margin-top: 5px; */
    display: block !important;
    height: 24px;
    width: 24px;
    background: transparent;
    background-image: url('../img/search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}

.header__search:hover {
    background-image: url('../img/search-active.svg');
}

.header__search:focus {
    background-image: url('../img/search.svg');
    outline: 2px solid var(--special-color);
    outline-offset: 2px;
    border: none;
}

.header__search:active {
    background-image: url('../img/search-active.svg');
}

.header__close {
    height: 24px;
    width: 24px;
    background: transparent;
    background-image: url('../img/close_search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin-left: 20px;
}

.header__burger {
    height: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    background-image: url('../img/burger.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 23px;
    transition: all .15s ease-in-out;
    position: relative;
    z-index: 20;
}

.header-menu {
    background-color: rgba(255, 255, 255, .5);
    transform: translateX(102%);
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding-left: 11%;
}

.header-menu.swiched {
    transform: none;
}

.header__burger:focus {
    outline: 2px solid var(--special-color);
    outline-offset: 3px;
}

.header__burger:active {
    background-image: url('../img/burger-active.svg');
}

/* spacial offer */

.swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/* .swiper-wrapper {
    z-index: -1;
} */

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.swiper-slide_first {
    background-image: url('../img/special-offer-1\(1920\).jpg');
}

.swiper-slide_second {
    background-image: url('../img/special-offer-2\(1920\).jpg');
}

.swiper-slide_third {
    background-image: url('../img/special-offer-3\(1920\).jpg');
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin-right: 20px !important;
    background-color: var(--white-color);
    opacity: 0.4;
}

.swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--white-color);
    opacity: 1;
}

.swiper-pagination {
    z-index: 10;
    bottom: 26px !important;
}

.special-offer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    height: 620px;
    padding: 102px 80px 100px 80px;
}

.special-offer__content {
    display: flex;
    width: auto;
    height: 85.5%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: transparent;
}

.special-offer__heading {
    max-width: 840px;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    color: var(--white-color);
    margin-bottom: 23px;
}

.special-offer__text {
    margin-bottom: auto;
    max-width: 790px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white-color);
    letter-spacing: 0.0125px;
}

.special-offer__button {
    padding: 25px 37px;
    background-color: var(--special-color);
    color: var(--white-color);
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s all ease;
    align-self: baseline;
    margin-top: 30px;
}

.special-offer__button:hover,
.special-offer__button:focus {
    background-color: #FF9900B2;
}

.special-offer__button:active {
    background-color: #E1670E;
}

/* about us */

.about-us {
    margin-bottom: 94px;
}

.about-us__heading {
    margin-bottom: 20px;
}

.about-us__text {
    max-width: 1235px;
    margin-bottom: 50px;
    line-height: 32px;
}

.about-us-content {
    display: flex;
}

.about-us-card {
    display: flex;
    align-items: flex-end;
    width: 50%;
    /* height: 622px; */
    /* flex: 1 1 44%; */
    background-image: url('../img/Rectangle\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 30px;
}

.about-us-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: auto;
}

.about-us-card__text {
    max-width: 454px;
    font-weight: 700;
    color: var(--white-color);
    margin-right: auto;
}

.about-us-card__button {
    padding: 19px 36px;
    border: 3px solid var(--special-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    white-space: nowrap;
    transition: 0.3s all ease;
    margin-left: 20px;
}

.about-us-card__button:hover,
.about-us-card__button:focus {
    background-color: #FF9900;
    border: 3px solid #FF9900;
}

.about-us-card__button:active {
    background-color: #E1670E;
    border: 3px solid #E1670E;
}

.about-us-blocks {
    /* flex: 1 1 44%; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-us-block {
    /* flex: 1 1 48%; */
    padding: 64px 118px 62px 300px;
    border: 1px solid #CACACA;
    background-repeat: no-repeat;
    background-position: 9% 50%;
}

.about-us-block:nth-child(1) {
    background-image: url('../img/about-us-2.svg');
}

.about-us-block:nth-child(2) {
    background-image: url('../img/about-us-1.svg');
}

.about-us-block:not(:last-child) {
    margin-bottom: 32px;
}

.about-us-block__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 6px;
    width: 114%;
}

.about-us-card-320px {
    display: none;
    margin-bottom: 32px;
}

.about-us-card-320px__img {
    display: none;
    background-image: url('../img/Rectangle\ 2.jpg');
    background-position: center center;
    background-size: cover;
    min-width: 290px;
    min-height: 200px;
    margin-bottom: 8px;
}

.about-us-card-320px__text {
    display: none;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 11px;
}

.about-us-card-320px__button {
    display: none;
    padding: 11px 15px;
    max-width: 56%;
    border: 2px solid var(--special-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    color: var(--special-color);
    text-align: center;
}

/* our_work */

.our-work {
    margin-bottom: 94px;
}

.our-work-section__heading {
    margin-bottom: 50px;
}

.our-work-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
}

/* .our-work-item {} */

.our-work-item:not(:last-child) {
    margin-right: 85px;
}

.our-work-item__btn {
    border: none;
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: 0.3s all ease;
}

.our-work-item__btn:hover {
    color: #FF9900;
}

.our-work-item__btn:focus {
    outline: 1px solid #FF9900;
}

.our-work-item__btn:active {
    color: #E1670E;
}

.our-work-content {
    display: none;
    justify-content: space-between;
}

.our-work-content-active {
    display: flex;
}

.our-work-img-block__img {
    width: 49.1%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 3px;
    margin-top: 8px;
}

.our-work-desc {
    width: 50%;
    margin-right: 100px;
}

.our-work__heading {
    color: var(--text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.our-work__text {
    max-width: 758px;
    line-height: 32.1px;
    margin-bottom: 49px;
}

.our-work-buttons {
    display: flex;
}

.our-work-btn__more {
    margin-right: 32px;
    padding: 20px 38px;
    background-color: var(--special-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    transition: 0.3s all ease;
}

.our-work-btn__more:hover,
.our-work-btn__more:focus {
    background-color: #F7B045;
}

.our-work-btn__more:active {
    background-color: #E1670E;
}

.our-work-btn__contract {
    padding: 20px 38px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 20px;
    border: 1px solid var(--text-color);
    transition: 0.3s all ease;
}

.our-work-btn__contract:hover,
.our-work-btn__contract:focus {
    background-color: #666666;
    border: 1px solid #666666;
    color: #FFFFFF;
}

.our-work-btn__contract:active {
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
}

/* question */

.question {
    margin-bottom: 100px;
}

.section-question__heading {
    margin-bottom: 42px;
}

.ui-accordion .ui-accordion-header {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
    border: none;
}

.question-item {
    position: relative;
    margin: 0;
    width: 100%;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    transition: 0.3s all ease;
    background-color: #fff;
    padding-right: 40px !important;
}

.question__btn {
    text-align: left;
    margin: 0;
    position: relative;
    /* display: flex;
    justify-content: start; */
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: 24px !important;
    line-height: 31px !important;
    width: 100%;
    height: 109px;
    transition: 0.3s all ease;
    padding-right: 40px !important;
}

.question__btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25%;
    right: -3.5%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    background-image: url('../img/+х.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.2s all ease;
    z-index: 10;
}

.question__btn:hover:before,
.question__btn:focus:before {
    background-image: url('../img/+х-hover.svg');
}

.question__btn:active:before {
    background-image: url('../img/+х.svg');
    transform: rotate(135deg);
}

/* .question__btn::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #ECECEC;
    border-radius: 50%;
    z-index: 10;
}

.question__btn::after {
    content: "";
    position: absolute;
    top: 32%;
    right: 1.3%;
    height: 31px;
    width: 31px;
    z-index: 20;
    background-repeat: no-repeat;
    background-image: url('../img/Rectangle\ 12\ \(Stroke\)\ \(1\).svg');
}

.question__btn::before:hover {
    background-color: var(--special-color);
} */

.question__btn:hover {
    color: #FF9900;
}

.question-item:hover {
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
}

.question__content {
    border: none;
}

.question__text {
    margin-bottom: 13px;
}

.ui-icon {
    display: none;
}

.ui-accordion .ui-accordion-content {
    overflow: hidden;
    height: auto !important;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.ui-accordion-header {
    padding: 0;
    padding-right: 40px !important;
}

/* footer */

.footer {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1770px;
    padding: 50px 75px;
}

.footer-item {
    max-width: 570px;
    width: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-item:last-child {
    margin: 0;
}

.footer__logo {
    max-width: 224px;
    max-height: 72px;
    object-fit: cover;
    margin-bottom: 20px;
}

.footer-list {
    margin-bottom: auto;
}

.footer__link {
    color: var(--white-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    transition: 0.3s all ease;
}

.footer__link:hover {
    color: #FF9900;
}

.footer__link:focus {
    outline: 1px solid #FF9900;
}

.footer__link:active {
    color: #E1670E;
}

.footer-contacts {
    display: flex;
    margin-top: 30px;
}

.footer-contacts__item {
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.footer-contacts__item:last-child {
    margin-right: 0;
}

.footer-info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-info__content {
    max-width: 365px;
    color: #CACACA;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-form__heading {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--white-color);
    margin-bottom: 25px;
}

.footer-form-list {
    display: flex;
    flex-direction: column;
}

.footer-form__item {
    display: block;
    width: auto;
    background-color: #414141;
    border: none;
    min-height: 60px;
    margin-bottom: 25px;
    padding: 14px 24px;
    color: #CACACA;
    transition: 0.3s all ease;
}

.footer-form__item:hover,
.footer-form__item:focus,
.footer-form__item:active {
    background-color: #666666;
}

.footer-form_item_end {
    padding-top: 29px;
    padding-bottom: 85px;
    margin-bottom: 32px;
    max-height: 150px;
    height: 100%;
    resize: none;
}

.footer-form_item_end:focus {
    outline: 1px solid var(--special-color);
    outline-offset: 1px;
}

.footer-form-submit-block {
    display: flex;
}

.footer__btn {
    background-color: var(--special-color);
    border: none;
    padding: 19px 52px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-right: 22px;
}

.footer__btn:hover,
.footer__btn:focus {
    background-color: #FF9900B2;
}

.footer__btn:active {
    background-color: #E1670E;
}

.footer__checkbox-label {
    user-select: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 1px;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    padding-left: 20px;
    white-space: nowrap;
}

.footer__checkbox-label::before {
    content: "";
    position: absolute;
    top: 33%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #CACACA;
}

.footer__checkbox-label::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 36%;
    left: 2%;
    height: 7px;
    width: 4px;
    transform: rotate(45deg);
    border-bottom: 1px solid #97EE3F;
    border-right: 1px solid #97EE3F;
}

/* .footer__checkbox-label:checked+:after {
    opacity: 1;
} */

.footer__checkbox:checked+.footer__checkbox-label::after {
    opacity: 1;
}

.footer__checkbox {
    position: absolute;
    opacity: 0;
}

/* .footer__checkbox::after {
    content: attr(value);
    white-space: nowrap;
    margin-left: 16px;
    color: #CACACA;
} */

.footer__icon {
    color: #7C7C7C;
    transition: 0.3s all ease;
}

.footer__icon:hover {
    color: #FF9900;
}

.footer__icon:focus {
    outline: 1px solid #FF9900;
}

.footer__icon:active {
    color: #E1670E;
}

@media (max-width: 1440px) {

    .main {
        padding: 0 50px;
    }

    /* 
    .container {
        max-width: 1440px;
        padding: 0 50px;
    } */

    .header-container {
        padding: 0 50px;
    }

    .header__nav {
        margin-right: 100px;
        margin-left: auto;
    }

    .header__item {
        font-size: 14px;
        line-height: 18px;
        margin-right: 60px;
    }

    .header__item:last-child {
        margin-right: 45px;
    }

    .header__search {
        /* padding-right: 20px; */
    }

    .about-us-card-content {
        padding: 20px 20px;
    }

    .about-us-block__heading {
        white-space: normal;
    }

    .our-work-desc {
        flex: 1 1 50% !important;
    }

    .our-work-img-block {
        flex: 1 1 50% !important;
    }

    .footer-container {
        padding: 50px;
    }

    .footer-item {
        max-width: 460px;
    }

    .footer-info {
        /* max-width: none; */
        margin-left: 50px !important;
    }

    .footer__checkbox-label {
        white-space: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.01px;
    }

}

@media (max-width: 1024px) {

    .section__heading {
        margin-left: 0;
    }

    /* .container {
        max-width: 1024px;
    } */

    .header-container {
        justify-content: space-between;
    }

    .header-logo {
        height: 48px;
        width: 159px;
    }

    .header-logo__icon {
        padding-right: 8px;
    }

    .header__nav {
        background-color: rgba(255, 255, 255, .8);
        transform: translateY(-102%);
        transition: all 0.3s ease-in-out;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 100%;
        height: 100px;
        padding-left: 11%;
        margin: 0;
    }

    .header__nav.swiched {
        transform: none;
    }

    .header__burger {
        display: block;
        padding-bottom: 25px;
    }

    .swiper {
        height: 668px;
    }

    .special-offer {
        margin-bottom: 129px;
        padding: 160px 77px;
    }

    .special-offer__content {
        width: 100%;
        padding: 0;
        height: 668px;
    }

    .special-offer__heading {
        max-width: 770px;
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
    }

    .special-offer__text {
        font-size: 20px;
        line-height: 24px;
    }

    .special-offer__button {
        margin-top: 60px;
    }

    .about-us {
        margin-bottom: 81px;
    }

    .about-us__heading {
        margin-bottom: 11px;
    }

    .about-us__text {
        margin-bottom: 61px;
    }

    .about-us-content {
        width: 100%;
    }

    .about-us-card {
        width: 100%;
        height: 640px;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .about-us-block {
        width: 200%;
        padding: 65px 155px 61px 317px;
        background-position: 10.4% 50%;
    }

    .about-us-content {
        flex-direction: column;
    }

    .about-us-card-content {
        padding: 48px 50px;
    }

    .our-work {
        margin-bottom: 80px;
    }

    .our-work-desc {
        margin-right: 50px;
    }

    .our-work-img-block__img {
        max-width: 437px;
    }

    .our-work__text {
        margin-bottom: 21px;
    }

    .question {
        margin-bottom: 80px;
    }

    .section-question__heading {
        margin-bottom: 32px;
    }

    .question-item:nth-child(2n) {
        padding: 7px 0;
    }

    .question__btn {
        white-space: normal;
        max-width: 788px;
        font-size: 20px;
        line-height: 32px;
    }

    .footer-container {
        padding: 50px 48px;
    }

    .footer-info {
        display: none;
    }

    .footer-item {
        max-width: none;
    }

    .footer-links {
        flex: 1 1 38%;
    }

    .footer__btn {
        padding: 19px 37.5px;
        margin-right: 20px;
    }

    .footer__checkbox-label {
        padding-top: 2px;
        font-size: 16px;
    }

    .footer-form {
        flex: 1 1 58%;
        max-width: 543px;
    }

}

@media (max-width: 800px) {
    .special-offer {
        padding: 130px 77px;
    }

    .special-offer__button {
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    /* .container {
        max-width: 768px;
    } */

    .header {
        height: 69px;
    }

    .header-container {
        max-width: 768px;
        height: 69px;
        /* margin: 0 15px; */
        justify-content: space-between;
        align-items: center;
    }

    .header__item:nth-child(1n) {
        /* display: none !important; */
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .header__burger {
        display: block;
        padding-bottom: 27px;
    }

    .header__nav {
        padding: 0;
        transform: translateY(-110%);
        padding-top: 20px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 300px;
        z-index: 30;
    }

    .header__nav.swiched {
        transform: translateY(23%);
    }

    .header__search {
        padding-bottom: 25px;
    }

    .swiper {
        height: 662px;
    }

    .special-offer {
        margin-bottom: 123px;
        padding: 161px 40px;
    }

    .special-offer__heading {
        font-size: 50px;
        line-height: 61px;
    }

    .special-offer__text {
        font-size: 18px;
        line-height: 22px;
    }

    .special-offer__button {
        margin-top: 59px;
    }

    .special-offer__content {
        background-position: center center;
        height: 662px;
        padding: 0;
    }

    .about-us-block {
        padding: 35px 46px 35px 170px;
        background-size: 114px 99px;
    }

    .about-us__text {
        margin-bottom: 59px;
    }

    .about-us-card {
        background-position: 51%;
        height: 650px;
    }

    .about-us-card-content {
        padding: 34px 40px;
    }

    .about-us-card__text {
        line-height: 32px;
    }

    .about-us-card__button {
        margin-left: 47px;
        padding: 18px 35px;
    }

    .about-us-block__heading {
        font-size: 24px;
        line-height: 29.26px;
        white-space: normal;
    }

    .about-us-block {
        padding: 35px 44px 35px 169px;
        background-position: 7% 49%;
    }

    .about-us-block__text {
        line-height: 32px;
    }

    .our-work-list {
        width: auto;
        justify-content: space-between;
    }

    .our-work-item {
        margin: 0;
    }

    .our-work__text {
        width: 200%;
    }

    .our-work-content {
        flex-direction: column-reverse;
    }

    .our-work-img-block {
        margin-bottom: 38px;
    }

    .our-work-img-block__img {
        width: auto;
        max-width: none;
        height: 280px;
        margin-top: 0;
        margin-bottom: 38px;
    }

    .our-work__text {
        margin-bottom: 25px;
    }

    .question {
        margin-bottom: 85px
    }

    .question-item {
        padding: 0;
    }

    .question-item:nth-child(3) {
        padding-top: 6px;
    }

    .question-item:nth-child(4) {
        padding-top: 13px;
    }

    .question-item:nth-child(5) {
        padding-top: 10px;
    }


    .question__btn {
        max-width: 609px;
        white-space: normal;
    }

    .question__btn::before {
        right: -50px;
    }

    .footer-container {
        flex-direction: column-reverse;
        padding: 50px 49px;
    }

    .footer-item {
        margin-right: 0;
    }

    .footer-form {
        margin-bottom: 50px;
    }

    .footer-list {
        display: none;
    }

    .footer__checkbox-label::before {
        top: 38%;
        left: 1%;
        width: 12px;
        height: 12px;
    }

    .footer__checkbox-label::after {
        top: 40%;
        left: 3%;
    }

    .footer-contacts {
        margin-top: -4px;
    }

}

@media (max-width: 568px) {

    .special-offer {
        padding: 60px 22px;
        height: auto;
    }

    .special-offer__content {
        height: auto;
    }

    .swiper {
        height: 100%;
    }

    .swiper-slide {
        z-index: 0;
    }

    .special-offer__heading {
        font-size: 20px;
        line-height: 24.38px;
        text-align: center;
        margin-bottom: 6px;
    }

    .special-offer__text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 30px;
    }

    .special-offer__button {
        width: 162px;
        height: 40px;
        font-size: 12px;
        line-height: 14.63px;
        margin: 0;
        padding: 14px 27px;
        align-self: center;
    }

    .about-us-card-content {
        flex-direction: column;
    }

    .about-us-card__button {
        margin-left: 0;
    }

    .about-us-card__text {
        margin-bottom: 15px;
    }

    .about-us-block {
        padding: 120px 48px 35px 48px;
        background-position: 50% 3%;
    }

    .our-work-item:not(:last-child) {
        margin-right: 40px;
    }

    .question__btn::before {
        right: -20px;
    }

}

@media (max-width: 320px) {

    .main {
        padding: 0 15px;
    }

    .container {
        max-width: 320px;
    }

    .section__heading {
        font-size: 24px;
        line-height: 29.26px;
    }

    .header-container {
        min-width: 320px;
        padding: 0 15px;
    }

    .header__nav {
        width: 100%;
        height: 312px;
        margin: 0;
    }

    .header__nav.swiched {
        transform: translateY(21%);
    }

    .header__burger {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .header-logo {
        height: 35px;
        width: 117px;
    }

    .header-logo__icon {
        padding-right: 7px;
    }

    .header__search {
        padding-bottom: 0;
    }

    .special-offer {
        margin-bottom: 60px;
    }

    .swiper {
        height: 308px;
    }

    .special-offer {
        padding: 60px 24px;
        height: 308px;
    }

    .special-offer__content {
        padding: 0;
        height: 308px;
        align-items: center;
    }

    .special-offer__heading {
        font-size: 20px;
        line-height: 24.38px;
        text-align: center;
        margin-bottom: 6px;
    }

    .special-offer__text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 30px;
    }

    .special-offer__button {
        width: 162px;
        height: 40px;
        font-size: 12px;
        line-height: 14.63px;
        margin: 0;
        padding: 14px 27px;
        align-self: center;
    }

    .about-us {
        margin-bottom: 58px;
    }

    .about-us__heading {
        margin-bottom: 20px;
    }

    .about-us__text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .about-us-card {
        display: none;
    }

    .about-us-card-320px {
        display: flex;
        flex-direction: column;
    }

    .about-us-card-320px__img {
        display: block;
    }

    .about-us-card-320px__text {
        display: inline;
    }

    .about-us-card-320px__button {
        display: inline;
    }

    .about-us-block {
        padding: 0;
        padding-top: 61px;
        border: none;
        background-size: 64px;
        background-position: 0 0;
    }

    .about-us-block:nth-child(1) {
        background-image: url('../img/about-us-img\ 320px\ 1.svg');
    }

    .about-us-block:nth-child(2) {
        background-image: url('../img/about-us-img\ 320px\ 2.svg');
    }

    .about-us-block:not(:last-child) {
        margin-bottom: 30px;
    }

    .about-us-block__heading {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        max-width: 290px;
        white-space: normal;
    }

    .about-us-block__text {
        font-size: 14px;
        line-height: 28px;
    }

    .our-work {
        margin-bottom: 60px;
    }

    .our-work-desc {
        margin: 0;
    }

    .our-work-img-block__img {
        height: 160px;
        margin-bottom: 16px;
    }

    .our-work-section__heading {
        margin-bottom: 21px;
    }

    .our-work-list {
        margin-bottom: 16px;
    }

    .our-work-item__btn {
        white-space: nowrap;
        font-size: 14px;
        line-height: 17px;
    }

    .our-work-item:not(:last-child) {
        margin-right: 44px;
    }

    .our-work-img-block {
        margin-bottom: 16px;
    }

    .our-work__heading {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 18px;
        white-space: nowrap;
        line-height: 32px
    }

    .our-work__text {
        font-size: 14px;
        line-height: 28px;
        max-width: none;
        margin-bottom: 15px;
    }

    .our-work-btn__more {
        padding: 13px 44px;
        max-height: 40px;
        font-size: 12px;
        line-height: 15px;
        margin-right: 10px;
    }

    .our-work-btn__contract {
        padding: 13px 31.5px;
        font-size: 12px;
        line-height: 15px;
        max-height: 40px;
    }

    .question {
        margin-bottom: 60px;
    }

    .section-question__heading {
        margin-bottom: 16px;
    }

    .question-item {
        padding: 29.65px 0 !important;
    }

    .question-item::before {
        width: 30px;
        height: 30px;
        top: 36%
    }

    .question__btn {
        padding-right: 20px;
        max-width: 270px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        height: auto;
    }

    .question__btn::before {
        right: -25px;
    }

    .question__btn:nth-child(4),
    .question__btn:nth-child(5) {
        max-width: 261px !important;
    }

    .footer-container {
        padding: 32px 15px;
    }

    .footer-contacts {
        margin: 0 auto;
        margin-right: 49px;
    }

    .footer-form {
        border-bottom: 1px solid #CACACA;
        margin-bottom: 16px;
        padding-bottom: 15px;
    }

    .footer-form__heading {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 21px;
    }

    .footer-form__item {
        font-size: 14px;
        line-height: 32px;
        padding-left: 20px;
    }

    .footer-form_item_end {
        padding-top: 14px;
        margin-bottom: 25px;
    }

    .footer-form-submit-block {
        flex-direction: column;
        justify-content: center;
    }

    .footer__btn {
        margin: 0 auto;
        margin-bottom: 11px;
        padding: 12px 28px;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__checkbox {
        margin: 0 auto;
    }

    .footer__checkbox-label {
        font-size: 16px;
        line-height: 32px;
        padding-left: 24px;
    }

    .footer__checkbox-label::before {
        top: 26%;
        left: 2%;
    }

    .footer__checkbox-label::after {
        top: 28%;
        left: 3.6%;
    }

    .footer__logo {
        margin: 0 auto;
        margin-bottom: 12px;
    }

    .footer__logo_img {
        max-width: 131px;
        max-height: 42px;
        object-fit: cover;
    }

    .footer-contacts__item {
        margin: 0;
        margin-right: -4px;
    }

    .footer__icon {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .hd {
        display: inline;
    }

}


@media (min-width: 1930px) {

    .container {
        max-width: 1920px;
    }

}